.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.box {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.box:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.box2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.box3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.box4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.box5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.box6 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
